body {
  font-family: 'Nunito', sans-serif;
}

.header-table {
  width: 50%;
  height: 800px;
  background: url(../img/header-table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.header-container {
  height: 550px;
  display: flex;
  align-items: center;
}
.nav-link.active {
  color: #daa520 !important;
}
